.u-section-1 {
  background-image: none;
  min-height: 637px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 1px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 659px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  animation-duration: 2500ms;
  margin: 97px 42px 0 10px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  animation-duration: 2000ms;
  margin: 30px 115px 0 10px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  animation-duration: 1000ms;
  margin: 62px auto 0;
  padding: 13px 31px 14px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 3px;
  animation-duration: 1000ms;
  border-style: none;
  text-transform: uppercase;
  margin: -52px auto 0 0;
  padding: 13px 38px 14px 37px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 659px;
  pointer-events: auto;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 366px;
  height: 412px;
  animation-duration: 1000ms;
  margin: 56px auto 0 143px;
}

.u-section-1 .u-group-1 {
  width: 114px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 114px;
  animation-duration: 1000ms;
  margin: -412px 97px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 1px;
}

.u-section-1 .u-icon-1 {
  width: 84px;
  height: 84px;
  margin: 15px auto 0;
}

.u-section-1 .u-group-2 {
  width: 114px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 114px;
  animation-duration: 1000ms;
  margin: 97px auto 0 42px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 1px;
}

.u-section-1 .u-icon-2 {
  width: 84px;
  height: 84px;
  margin: 15px auto 0;
}

.u-section-1 .u-group-3 {
  width: 363px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 166px;
  animation-duration: 1000ms;
  margin: 53px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 900;
  font-size: 1.88889rem;
  margin: 10px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 7px auto 0;
}

.u-section-1 .u-image-2 {
  width: 152px;
  height: 45px;
  margin: 10px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 630px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 629px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 40px;
    margin-right: 63px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 63px;
    margin-right: 73px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 629px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 51px;
    margin-right: 15px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -1829px;
    margin-left: 25px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 2389px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -35px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 650px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 649px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 133px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 36px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 4.82% 50%;
    min-height: 649px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 79px;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    width: 312px;
    margin-top: -39px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 948px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 381px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 50px 14px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 40px;
    margin-left: 36px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 36px;
    padding-left: 71px;
    padding-right: 71px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -52px;
    margin-right: 36px;
    margin-left: auto;
    padding-right: 79px;
    padding-left: 77px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 565px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 40px;
    margin-right: 97px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 25px;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    margin-left: 25px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -83px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 39px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 706px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 40px 0 0;
  }

  .u-section-1 .u-text-1 {
    width: 338px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 338px;
    margin-top: 62px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 87px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 116px 13px 115px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 51px;
    margin-right: auto;
    padding: 12px 121px 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 383px;
    margin-top: 37px;
    margin-right: 22px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -585px;
    margin-right: 30px;
    margin-left: 42px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -45px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  animation-duration: 1000ms;
  margin: 22px 0 0;
}

.u-section-2 .u-group-1 {
  width: 245px;
  min-height: 32px;
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 3px auto 0 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  width: 23px;
  height: 28px;
}

.u-section-2 .u-icon-2 {
  width: 19px;
  height: 24px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: -24px 0 0 auto;
}

.u-section-2 .u-list-1 {
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 465px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 129px;
  height: 129px;
  background-image: url("images/chrome_yBVglCQjg2.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 129px;
  height: 129px;
  background-image: url("images/chrome_yBVglCQjg2.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 129px;
  height: 129px;
  background-image: url("images/chrome_yBVglCQjg2.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 20px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-2 .u-group-1 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-2 {
    height: 23px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 383px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 880px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 549px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 45px;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  margin: 89px auto 0 15px;
}

.u-section-3 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 15px 0;
}

.u-section-3 .u-image-1 {
  min-height: 409px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 489px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-3 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 51px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 42px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 42px;
  }

  .u-section-3 .u-image-1 {
    min-height: 561px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 22px;
  }

  .u-section-3 .u-image-1 {
    min-height: 356px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 812px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 552px;
  margin-top: 30px;
  margin-bottom: 50px;
  grid-gap: 17px 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-2 {
  height: 2352px;
  grid-gap: 17px 17px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-inner-2 {
  grid-template-columns: auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 17px;
}

.u-section-4 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 17px;
}

.u-section-4 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 17px;
}

.u-section-4 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 17px;
}

.u-section-4 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-5 {
  margin-right: 17px;
}

.u-section-4 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-6 {
  margin-right: 17px;
}

.u-section-4 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-4 .u-gallery-1 {
    height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1055px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-gallery-1 {
    height: 784px;
    margin-bottom: 59px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    height: 2352px;
    margin-top: 27px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-gallery-2 {
    height: 353px;
    margin-top: 35px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-carousel-item-1 {
    margin-right: 0;
  }

  .u-section-4 .u-carousel-item-2 {
    margin-right: 0;
  }

  .u-section-4 .u-carousel-item-3 {
    margin-right: 0;
  }

  .u-section-4 .u-carousel-item-4 {
    margin-right: 0;
  }

  .u-section-4 .u-carousel-item-5 {
    margin-right: 0;
  }

  .u-section-4 .u-carousel-item-6 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-gallery-1 {
    height: 1481px;
  }

  .u-section-4 .u-carousel-thumbnail-1 {
    width: 53px;
    height: 53px;
  }

  .u-section-4 .u-carousel-thumbnail-2 {
    width: 53px;
    height: 53px;
  }

  .u-section-4 .u-carousel-thumbnail-3 {
    width: 53px;
    height: 53px;
  }

  .u-section-4 .u-carousel-thumbnail-4 {
    width: 53px;
    height: 53px;
  }

  .u-section-4 .u-carousel-thumbnail-5 {
    width: 53px;
    height: 53px;
  }

  .u-section-4 .u-carousel-thumbnail-6 {
    width: 53px;
    height: 53px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/image-removebg-preview1.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  min-height: 731px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 731px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 48px;
}

.u-section-5 .u-group-1 {
  width: 246px;
  min-height: 29px;
  margin: 1px 12px 0;
}

.u-section-5 .u-text-1 {
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-5 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  width: 23px;
  height: 28px;
}

.u-section-5 .u-icon-2 {
  width: 23px;
  height: 28px;
  animation-duration: 1000ms;
  margin: -24px 74px -4px auto;
}

.u-section-5 .u-text-2 {
  font-weight: 300;
  font-size: 3.75rem;
  letter-spacing: normal;
  line-height: 1.2;
  text-transform: none;
  animation-duration: 1000ms;
  margin: 20px auto 0 12px;
}

.u-section-5 .u-text-3 {
  animation-duration: 1000ms;
  margin: 20px 14px 0 12px;
}

.u-section-5 .u-group-2 {
  min-height: 158px;
  margin-top: 37px;
  margin-bottom: 0;
  animation-duration: 1000ms;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-5 .u-container-layout-4 {
  padding: 22px 30px;
}

.u-section-5 .u-text-4 {
  margin: 0 3px 0 auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-group-3 {
  min-height: 158px;
  animation-duration: 1000ms;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin-top: 37px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 22px 30px;
}

.u-section-5 .u-text-5 {
  margin: 0 3px 0 auto;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1105px;
  }

  .u-section-5 .u-image-1 {
    min-height: 1045px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 1045px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-5 .u-group-1 {
    margin-right: 447px;
  }

  .u-section-5 .u-icon-2 {
    height: 29px;
    color: rgb(17, 17, 17) !important;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-group-2 {
    min-height: 194px;
    margin-top: 92px;
  }

  .u-section-5 .u-group-3 {
    min-height: 194px;
    margin-top: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-5 .u-image-1 {
    background-position: 68.24% 50%;
    min-height: 1156px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 1156px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 14px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 74px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-group-2 {
    min-height: 302px;
    margin-top: 37px;
  }

  .u-section-5 .u-group-3 {
    min-height: 302px;
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1505px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 40px;
  }

  .u-section-5 .u-image-1 {
    min-height: 594px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 871px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-group-1 {
    min-height: 33px;
    margin-right: 302px;
    margin-left: 16px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
    margin-left: 16px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 8px;
    margin-left: 16px;
  }

  .u-section-5 .u-group-2 {
    min-height: 170px;
    margin-top: 57px;
  }

  .u-section-5 .u-container-layout-4 {
    padding: 0 10px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-3 {
    min-height: 170px;
    margin-top: 64px;
  }

  .u-section-5 .u-container-layout-6 {
    padding: 0 10px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-5 .u-image-1 {
    min-height: 376px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 970px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 62px;
    margin-right: auto;
    margin-left: 12px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 30px;
    margin-left: 12px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 12px;
    margin-right: 0;
  }

  .u-section-5 .u-group-2 {
    min-height: 230px;
    margin-top: 62px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 1px;
    margin-right: 0;
  }

  .u-section-5 .u-group-3 {
    min-height: 230px;
    margin-top: 92px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 13px;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-text-1 {
  font-weight: 900;
  margin: 60px auto 0 0;
}

.u-section-6 .u-slider-1 {
  min-height: 587px;
  width: 763px;
  margin: 20px auto 0;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-group-1 {
  width: 432px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  min-height: 418px;
  margin: 124px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 93px 5px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 21px 2px 0;
}

.u-section-6 .u-image-1 {
  width: 225px;
  height: 225px;
  background-image: url("images/image1.jpg");
  background-position: 50% 50%;
  margin: -521px auto 0;
}

.u-section-6 .u-group-2 {
  width: 290px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 61px;
  margin: 245px auto -9px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-social-icons-1 {
  height: 49px;
  min-height: 16px;
  min-width: 68px;
  width: 168px;
  margin: 0 auto;
}

.u-section-6 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-6 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-6 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-6 .u-container-layout-4 {
  padding: 0;
}

.u-section-6 .u-group-3 {
  width: 432px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  min-height: 409px;
  margin: 124px auto 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 85px 2px 0;
}

.u-section-6 .u-text-5 {
  margin: 20px 2px 0;
}

.u-section-6 .u-image-2 {
  width: 225px;
  height: 225px;
  background-image: url("images/image.jpg");
  background-position: 50% 50%;
  margin: -521px auto 0;
}

.u-section-6 .u-group-4 {
  width: 290px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 61px;
  margin: 245px auto 0;
}

.u-section-6 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-social-icons-2 {
  height: 49px;
  min-height: 16px;
  min-width: 68px;
  width: 168px;
  margin: 0 auto;
}

.u-section-6 .u-icon-4 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-6 .u-icon-5 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-6 .u-icon-6 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-6 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: 51px;
  right: auto;
  position: absolute;
}

.u-section-6 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 51px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-slider-1 {
    height: auto;
  }

  .u-section-6 .u-social-icons-1 {
    width: 167px;
  }

  .u-section-6 .u-social-icons-2 {
    width: 167px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-slider-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-slider-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-slider-1 {
    width: 340px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-group-3 {
    width: 340px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-7 .u-text-1 {
  font-weight: 900;
  animation-duration: 1000ms;
  margin: 31px auto 0 0;
}

.u-section-7 .u-group-1 {
  width: 319px;
  min-height: 524px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin: 66px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-shape-1 {
  width: 79px;
  height: 78px;
  margin: 64px auto 0 72px;
}

.u-section-7 .u-icon-1 {
  width: 95px;
  height: 95px;
  box-shadow: 2px 2px 27px 0 rgba(128,128,128,1);
  margin: -113px auto 0 93px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 86px auto 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 80px 54px 0 auto;
}

.u-section-7 .u-group-2 {
  width: 319px;
  min-height: 524px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin: -524px 41px 0 auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-shape-2 {
  width: 79px;
  height: 78px;
  margin: 64px auto 0 72px;
}

.u-section-7 .u-icon-2 {
  width: 95px;
  height: 95px;
  box-shadow: 2px 2px 27px 0 rgba(128,128,128,1);
  margin: -113px auto 0 93px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  margin: 78px auto 0;
}

.u-section-7 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 93px auto 0;
}

.u-section-7 .u-group-3 {
  width: 319px;
  min-height: 524px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: -524px auto 0 27px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-shape-3 {
  width: 79px;
  height: 78px;
  margin: 64px auto 0 72px;
}

.u-section-7 .u-icon-3 {
  width: 95px;
  height: 95px;
  box-shadow: 2px 2px 27px 0 rgba(128,128,128,1);
  margin: -113px auto 0 93px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: 78px auto 0;
}

.u-section-7 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 93px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 320px;
    min-height: 520px;
    margin-top: 63px;
    margin-right: 304px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 59px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -106px;
  }

  .u-section-7 .u-group-2 {
    width: 300px;
    min-height: 520px;
    margin-top: -521px;
    margin-right: -27px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: 59px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: -106px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 77px;
  }

  .u-section-7 .u-group-3 {
    width: 300px;
    margin-top: -522px;
    margin-bottom: 60px;
    margin-left: -20px;
  }

  .u-section-7 .u-shape-3 {
    margin-top: 57px;
    margin-right: 89px;
  }

  .u-section-7 .u-icon-3 {
    margin-top: -107px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 41px;
    margin-left: -17px;
  }

  .u-section-7 .u-group-1 {
    width: 260px;
    min-height: 450px;
    margin-top: 51px;
    margin-right: auto;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 0;
    margin-left: 42px;
  }

  .u-section-7 .u-icon-1 {
    margin-left: 63px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 85px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 91px;
    margin-right: auto;
    margin-left: 25px;
  }

  .u-section-7 .u-group-2 {
    width: 250px;
    min-height: 450px;
    margin-top: -450px;
    margin-right: -38px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-7 .u-shape-2 {
    margin-top: 44px;
    margin-left: 37px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 58px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 92px;
  }

  .u-section-7 .u-group-3 {
    width: 250px;
    min-height: 450px;
    margin-top: -450px;
    margin-left: -36px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-7 .u-shape-3 {
    margin-top: 58px;
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-7 .u-icon-3 {
    margin-top: -106px;
    margin-left: 58px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 76px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 37px;
    margin-right: 62px;
  }

  .u-section-7 .u-group-1 {
    width: 190px;
    min-height: 275px;
    margin-top: 16px;
    margin-left: -36px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 34px;
    margin-left: 26px;
  }

  .u-section-7 .u-icon-1 {
    margin-left: 47px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 54px;
    margin-left: 22px;
  }

  .u-section-7 .u-group-2 {
    width: 190px;
    min-height: 275px;
    margin-top: -275px;
    margin-right: -36px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: 34px;
    margin-left: 27px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 48px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 71px;
    margin-left: 8px;
  }

  .u-section-7 .u-group-3 {
    width: 190px;
    min-height: 275px;
    margin-top: -275px;
    margin-left: auto;
    margin-bottom: 50px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-shape-3 {
    margin-top: 28px;
    margin-left: 32px;
  }

  .u-section-7 .u-icon-3 {
    margin-left: 53px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 66px;
    margin-left: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1325px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 35px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-7 .u-group-1 {
    width: 265px;
    min-height: 380px;
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 29px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 0;
    margin-left: 65px;
  }

  .u-section-7 .u-icon-1 {
    margin-left: 86px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 76px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-7 .u-group-2 {
    width: 265px;
    min-height: 380px;
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-7 .u-shape-2 {
    margin-top: 43px;
    margin-left: 65px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 86px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 83px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 54px;
    margin-left: auto;
  }

  .u-section-7 .u-group-3 {
    width: 265px;
    min-height: 380px;
    margin-top: 22px;
    margin-bottom: 41px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 21px;
  }

  .u-section-7 .u-shape-3 {
    margin-top: 35px;
    margin-left: 65px;
  }

  .u-section-7 .u-icon-3 {
    margin-left: 86px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 94px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 54px;
    margin-left: auto;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 470px;
}

.u-section-8 .u-gallery-1 {
  height: 375px;
  margin: 30px auto 60px 0;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-8 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  background-image: none;
}

.u-section-8 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-8 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 465px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 953px;
}

.u-section-9 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 200;
  letter-spacing: 2px;
  animation-duration: 1000ms;
  margin: 63px 0 0;
}

.u-section-9 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 691px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 30px 24px 0;
}

.u-section-9 .u-image-1 {
  width: 252px;
  height: 252px;
  animation-duration: 1000ms;
  margin: 22px auto 0 0;
}

.u-section-9 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 3rem;
  background-image: none;
  margin: -252px 0 0 265px;
}

.u-section-9 .u-text-3 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: 20px 0 0 265px;
}

.u-section-9 .u-text-4 {
  animation-duration: 1000ms;
  font-size: 1.25rem;
  margin: 22px 0 0 265px;
}

.u-section-9 .u-btn-1 {
  animation-duration: 1000ms;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 13px auto 0 265px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0 30px 24px 0;
}

.u-section-9 .u-image-2 {
  width: 252px;
  height: 252px;
  animation-duration: 1000ms;
  margin: 22px auto 0 0;
}

.u-section-9 .u-text-5 {
  font-size: 3rem;
  background-image: none;
  margin: -252px 0 0 265px;
}

.u-section-9 .u-text-6 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-9 .u-text-7 {
  font-size: 1.25rem;
  margin: 22px 0 0 265px;
}

.u-section-9 .u-btn-2 {
  animation-duration: 1000ms;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 13px auto 0 265px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-list-1 {
    height: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-9 .u-image-1 {
    margin-left: 30px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-right: 30px;
    margin-left: 304px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-right: 30px;
    margin-left: 304px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-right: 38px;
    margin-left: 312px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 30px;
    margin-left: 304px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-9 .u-image-2 {
    margin-left: 30px;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-right: 30px;
    margin-left: 304px;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-right: 30px;
    margin-left: 304px;
  }

  .u-section-9 .u-text-7 {
    width: auto;
    margin-top: 12px;
    margin-right: 38px;
    margin-left: 312px;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 30px;
    margin-left: 304px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
    margin-left: 324px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
    margin-left: 324px;
  }

  .u-section-9 .u-text-4 {
    font-size: 1.11111rem;
    margin-right: 0;
    margin-left: 324px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 10px;
    margin-right: 225px;
    margin-left: auto;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 0;
    margin-left: 324px;
  }

  .u-section-9 .u-text-6 {
    margin-right: 0;
    margin-left: 324px;
  }

  .u-section-9 .u-text-7 {
    font-size: 1.11111rem;
    margin-right: 0;
    margin-left: 324px;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 10px;
    margin-right: 225px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1431px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    font-size: 4.0625rem;
  }

  .u-section-9 .u-image-1 {
    width: 240px;
    height: 240px;
    margin-left: auto;
  }

  .u-section-9 .u-text-2 {
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
  }

  .u-section-9 .u-text-4 {
    width: 396px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-9 .u-image-2 {
    width: 240px;
    height: 240px;
    margin-left: auto;
  }

  .u-section-9 .u-text-5 {
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
  }

  .u-section-9 .u-text-7 {
    width: 396px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-btn-2 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-9 .u-text-2 {
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-4 {
    width: 340px;
  }

  .u-section-9 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-9 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-7 {
    width: 340px;
  }

  .u-section-9 .u-btn-2 {
    margin-top: -95px;
  }
}.u-section-10 {
  min-height: 901px;
}

.u-section-10 .u-map-1 {
  height: 649px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-group-1 {
  width: 455px;
  background-image: none;
  box-shadow: 0px 0 40px 0 rgba(128,128,128,1);
  min-height: 758px;
  animation-duration: 1000ms;
  margin: -681px calc(((100% - 1140px) / 2) + -54px) 0 auto;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin: 50px auto 0 0;
}

.u-section-10 .u-form-1 {
  height: 274px;
  width: 395px;
  margin: 20px 0 0;
}

.u-section-10 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.11111rem;
  letter-spacing: 1px;
  margin: 52px auto 0;
  padding: 0;
}

.u-section-10 .u-btn-3 {
  border-style: none;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: -27px;
  margin-bottom: -175px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 196px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-2 {
  margin: 0 28px 0 0;
}

.u-section-10 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 196px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-10 .u-text-5 {
  margin: 16px auto 0 0;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 202px;
}

.u-section-10 .u-container-layout-4 {
  padding: 0 17px;
}

.u-section-10 .u-social-icons-1 {
  height: 52px;
  min-height: 16px;
  width: 176px;
  min-width: 68px;
  animation-duration: 1000ms;
  margin: 54px auto 0 13px;
}

.u-section-10 .u-icon-2 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-10 .u-icon-3 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-10 .u-icon-4 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-10 .u-shape-1 {
  width: 60px;
  height: 60px;
  animation-duration: 1000ms;
  margin: 8px 0 0 auto;
}

.u-section-10 .u-text-6 {
  margin: -49px auto 0 0;
}

.u-section-10 .u-icon-5 {
  width: 23px;
  height: 23px;
  animation-duration: 1000ms;
  margin: -18px 19px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-10 {
    min-height: 906px;
  }

  .u-section-10 .u-group-1 {
    margin-top: -688px;
    margin-right: calc(((100% - 940px) / 2) + -30px);
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: -20px;
    margin-bottom: 19px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 188px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 188px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 188px;
  }

  .u-section-10 .u-social-icons-1 {
    margin-left: 3px;
  }

  .u-section-10 .u-shape-1 {
    margin-top: -9px;
    margin-left: 322px;
  }

  .u-section-10 .u-text-6 {
    width: auto;
    margin-top: -35px;
    margin-right: 166px;
    margin-left: 3px;
  }

  .u-section-10 .u-icon-5 {
    margin-top: -32px;
  }
}

@media (max-width: 991px) {
  .u-section-10 {
    min-height: 1155px;
  }

  .u-section-10 .u-map-1 {
    height: 340px;
  }

  .u-section-10 .u-group-1 {
    width: 510px;
    margin-top: 33px;
    margin-right: auto;
  }

  .u-section-10 .u-container-layout-1 {
    padding: 1px 15px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-10 .u-btn-2 {
    margin-top: 324px;
    margin-left: 7px;
  }

  .u-section-10 .u-btn-3 {
    margin-top: -32px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 53px;
    margin-bottom: -175px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 228px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-left: 22px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 228px;
  }

  .u-section-10 .u-social-icons-1 {
    margin-top: 30px;
  }

  .u-section-10 .u-shape-1 {
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-10 .u-text-6 {
    margin-top: -89px;
    margin-right: 164px;
  }

  .u-section-10 .u-icon-5 {
    margin-top: -2px;
  }
}

@media (max-width: 767px) {
  .u-section-10 {
    min-height: 1422px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-btn-2 {
    margin-top: 352px;
    margin-left: 37px;
  }

  .u-section-10 .u-btn-3 {
    margin-right: 28px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 148px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 20px;
    margin-left: 2px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-right: 42px;
    margin-left: 2px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 144px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 163px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-10 .u-social-icons-1 {
    margin-top: 20px;
    margin-left: 13px;
  }

  .u-section-10 .u-shape-1 {
    margin-top: 3px;
    margin-right: auto;
    margin-left: 474px;
  }

  .u-section-10 .u-text-6 {
    margin-top: -60px;
    margin-right: 86px;
    margin-left: 101px;
  }

  .u-section-10 .u-icon-5 {
    margin-top: -6px;
    margin-right: auto;
    margin-left: 493px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-group-1 {
    width: 340px;
  }

  .u-section-10 .u-form-1 {
    width: 320px;
  }

  .u-section-10 .u-btn-2 {
    margin-top: 349px;
    margin-left: auto;
  }

  .u-section-10 .u-btn-3 {
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-bottom: 56px;
    width: 340px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 117px;
  }

  .u-section-10 .u-shape-1 {
    margin-top: 20px;
    margin-left: 303px;
  }

  .u-section-10 .u-text-6 {
    margin-top: -80px;
    margin-right: 50px;
    margin-left: 74px;
  }

  .u-section-10 .u-icon-5 {
    margin: 14px -4px -17px auto;
  }
}.button {
	transition: 0.5s;
}
.button2 {
	transition: 0.5s;
}
.beneficio1:hover {
    box-shadow: 5px
        /* X */
        5px
        /* Y */
        20px
        /* Blur */
        rgba(0, 0, 0, 0.3);
    transition: 450ms;
}
.beneficio1 {
}